<%= simple_form_for(@equipment, :html => {:multipart => true, :class => 'form-horizontal'}) do |f| %>
  <%= f.input :equip_name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Equipment Name", :class => "add-on" %>
    <%= f.input_field :equip_name %>
  <% end %>
  <%= f.input :description %>
  <%= f.input :mode, collection:Equipment::MODE_TYPES %>
  <%= f.input :length1_ins %>
  <%= f.input :width1_ins %>
  <%= f.input :height1_ins %>
  <div class="collapsable-section">
    <div style="color:blue" class="label">Multiple Dimensions</div>
    <div class="field" id='container2'>
    <%= f.input :length2_ins %>
    </div>
    <div class="field" id='container3'>
    <%= f.input :width2_ins %>
    </div>
    <div class="field" id='container4'>
    <%= f.input :height2_ins %>
    </div>
    <div class="field" id='container5'>
    <%= f.input :length3_ins %>
    </div>
    <div class="field" id='container6'>
    <%= f.input :width3_ins %>
    </div>
    <div class="field" id='container7'>
    <%= f.input :height3_ins %>
    </div>
  </div>
  <%= f.input :wt_limit_lbs %>
  <%= f.input :cb_limit_cuft %>
  <%= f.input :equip_image, :label => "Image" %>
  <%= f.button :submit %>

<% end %>
