<div class="container">
	<div class="row">
		<h2 class="text-center">Equipments</h2>
        <div class="col-lg-12">
            <input class=pull-left type="search" class="form-control" id="input-search" placeholder="Search Equipments..." >
            <p class="text-right"><%= link_to 'New Equipment', new_equipment_path, data: { no_turbolink: true } %></p>
            <br>
        </div>
        <% @equipment.each do |equipment| %>
        <div class="searchable-container">
            <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
               <div class="info-block block-info clearfix">
                    <div class="square-box pull-left">
                        <span class="glyphicon glyphicon-user glyphicon-lg"><%= image_tag equipment.equip_image(:thumb) %></span>
                    </div>
                    <h4><%= equipment.equip_name %></h4>
                    <p><%= truncate(strip_tags(equipment.description), length: 80) %></p>
                    <h5>Mode: <%= equipment.mode %></h5>
                </div>
            </div>
        <% end %>
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @posts %>
        </div>
        <%= will_paginate @posts, :container => false %>
  </div>
</div>