<div class="container">
		<h1 class="text-center" style=font-family:cabinregular>Equipment Types</h1>
        <div class="col-lg-12">
            <input class=pull-left type="search" class="form-control" id="search" placeholder="Search Equipment Types..." >
            <p class="text-right"><%= link_to 'New Equipment', new_equipment_path, data: { no_turbolink: true } %></p>
            <br>
        </div>
        
        <p>
        Download:
        <%= link_to "CSV", equipment_index_path(format: :csv) %> | <%= link_to "Excel", equipment_index_path(format: :xlsx) %>
      </p>
      
      <div class="row">
    <table class="table table-striped tablesorter" id="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th><div class='text-center'>Mode</div></th>
          <th><div class='text-center'>Max Weight (lbs)</div></th>
          <th><div class='text-center'>Max Volume (cuft)</div></th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @equipment.each do |equipment| %>
            <div class="row">
            <tr>
              <td>
                <div class="square-box pull-left">
                  <span class="glyphicon glyphicon-user glyphicon-lg"><%= image_tag equipment.equip_image(:thumb) %></span>
                </div>
              </td>
              <td><h4><%= link_to equipment.equip_name, equipment_path(equipment) %></h4></td>
              <td><div class='text-center'><%= equipment.mode %></div></td>
              <td><div class='text-center'><%= number_with_precision(equipment.wt_limit_lbs, :precision => 0, :delimiter => ',') %></div></td>
              <td><div class='text-center'><%= number_with_precision(equipment.cb_limit_cuft, :precision => 0, :delimiter => ',') %></div></td>
              <td>
                <%= link_to 'Edit', edit_equipment_path(equipment), :class => 'btn btn-mini btn-success' %>
                <%= link_to 'Destroy', equipment_path(equipment), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
            </div>
        <% end %>
      </tbody>
    </table>
      </div>
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @posts %>
          </div>
          <%= will_paginate @posts, :container => false %>
        </div>
</div>

<script>
$(document).ready(function(){
$(function(){
$("#table").tablesorter();
});
});
</script>