
<h1 class="text-center" style=font-family:cabinregular><%= @equipment.equip_name %></h1>
<h2 class="text-center" style=font-family:cabinitalic;font-size:18px;color:#A8A8A8;><%= @equipment.description %></h2>

<div class="container-fluid">
<div class="row-fluid">
<div id="FooterBarImages" class="pull-left span8">
    <div style="float:left;"><%= image_tag @equipment.equip_image(:medium) %></div>
</div>


<div id="TableDiv" class="span4">
<table class="table">

<tbody>
<tr>
<td><div class='text-right'><strong>Mode:</strong></div></td>
<td><%= @equipment.mode %></td>
</tr>
<tr>
<td><div class='text-right'><strong>Wt limit:</strong></div></td>
<td><%= number_with_precision(@equipment.wt_limit_lbs, :precision => 0, :delimiter => ',') %> lbs</td>
</tr>
<tr>
<td><div class='text-right'><strong>Cb limit:</strong></div></td>
<td><%= number_with_precision(@equipment.cb_limit_cuft, :precision => 0, :delimiter => ',') %> cuft</td>
</tr>
<tr>
<td><div class='text-right'><strong>Dims:</strong></div></td>
<td><%= @equipment.length1_ins %> in x <%= @equipment.width1_ins %> in x <%= @equipment.height1_ins %> in</td>
</tr>
<tr>
<% if @equipment.length2_ins*@equipment.width2_ins*@equipment.height2_ins>0%>
<td><div class='text-right'><strong>2nd Dims:</strong></div></td>
<td><%= @equipment.length2_ins %> in x <%= @equipment.width2_ins %> in x <%= @equipment.height2_ins %> in</td>
<% end %>
</tr>
<tr>
<% if @equipment.length3_ins*@equipment.width3_ins*@equipment.height3_ins>0%>
<td><div class='text-right'><strong>3rd Dims:</strong></div></td>
<td><%= @equipment.length3_ins %> in x <%= @equipment.width3_ins %> in x <%= @equipment.height3_ins %> in</td>
<% end %>
</tr>
</tbody>
</table>
</div>
</div>
</div>

<div id="Buttons" class="pull-right">
<%= render 'backbtn' %> |
<%= render 'editbtn' %>
</div>