<h1>Build a Shipment</h1>
<% @shipments.each do |shipment| %>
      <tr>
        <p>
          <strong>Different Shipping Units:</strong>
          <%= shipment.pieces_count %>
        </p>
        
        <p>
          <strong>Equiptype:</strong>
          <%= shipment.equiptype %>
        </p>
        
        <p>
          <strong>Wt util:</strong>
          <%= shipment.wt_util %>
        </p>
        
        <p>
          <strong>Shipping Unit (SU) Details</strong>
        </p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Length</th>
      <th>Width</th>
      <th>Height</th>
      <th>SU Volume (cuft)</th>
      <th>SU Weight (lbs)</th>
      <th>Stackability</th>
      <th>How Many?</th>
      <th>Gross Volume (cuft)</th>
      <th>Gross Weight (lbs)</th>
    </tr>
  </thead>

  <tbody>
    <% for piece in shipment.pieces %>
      <tr>
        <td><%= h piece.piece_name %></td>
        <td><%= h piece.length_ins %></td>
        <td><%= h piece.width_ins %></td>
        <td><%= h piece.height_ins %></td>
        <td><%= h number_with_precision(piece.volume_cuft, precision: 1, delimiter: ',') %></td>
        <td><%= h number_with_precision(piece.weight_lbs, precision: 0, delimiter: ',') %></td>
        <td><%= h piece.stackability %></td>
        <td><%= h piece.count %></td>
        <td><%= h number_with_precision(piece.gross_volume_cuft, precision: 0, delimiter: ',') %></td>
        <td><%= h number_with_precision(piece.gross_weight_lbs, precision: 0, delimiter: ',') %></td>
      </tr>
      <tr>
    <% end %>
  </tbody>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_with_precision(shipment.gross_volume_cuft, precision: 0, delimiter: ',') %></td>
        <td><%= number_with_precision(shipment.gross_weight_lbs, precision: 0, delimiter: ',') %></td>
      </tr>
<td><%= link_to 'Edit', edit_shipment_path(shipment), class: "btn btn-sm" %></td>
        <td><%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
</table>
    <% end %>
<br>

<%= 
if !Shipment.any?
  link_to 'New Shipment', new_shipment_path
end
%>