<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </a>
    <%= link_to "Cubert", root_path, :class => "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav foo" id="menu">
          <li
            class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %>
          </li>
          <li
            class="<%= 'active' if current_page?(shipments_path) %>"><%= link_to "Shipment", shipments_path %>
          </li>
          <li
            class="<%= 'active' if current_page?(equipment_index_path) %>"><%= link_to "Equipment", equipment_index_path %>
          </li>
          <li class="divider-vertical"></li>

        </ul>
        <ul class="nav pull-right element">
      <div><% if user_signed_in? %>
          Signed in as <%= current_user.email %> |
          <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
        <% end %></div>
        </ul>
      </div>
    </div>
  </div>
</div>